.footer {
  width: 950px;
  padding: 20px 0;
  margin: 0 auto;
  .fot-titelt {
    a {
      font-size: 14px;
      line-height: 25px;
      color: #969696;
      margin: 0 5px;
      &:hover {
        color: #000;
      }
    }
  }
  span {
    color: #969696;
    font-size: 10px;
    img {
      height: 30px;
      vertical-align: middle;
    }
    a {
      color: #969696;
      font-size: 12px;
      line-height: 30px;
    }
  }
}
