.lists-muen {
  .banner-muen {
    img {
      width: 100%;
      margin: 5px 0;
      cursor: pointer;
    }
  }
  .download {
    width: 250px;
    height: 60px;
    border: 1px solid #eee;
    border-radius: 5px;
    position: relative;
    padding: 15px;
    display: flex;
    align-items: center;

    .download-img {
      float: left;
      width: 60px;
      height: 60px;
      background: url(../images/list/download.png) no-repeat center;
      background-size: 100%;
    }
    .down-app {
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
      &:hover {
        .hover {
          display: block;
        }
      }
      h3 {
        font-weight: 300;
        font-size: 18px;
      }
      span {
        color: #999;
      }
    }
    .hover {
      display: none;
      width: 160px;
      height: 160px;
      padding: 10px;
      position: absolute;
      background-color: #fff;
      top: -190px;
      left: 50%;
      margin-left: -80px;
      border: #333 1px solid;
      border-radius: 5px;
      box-shadow: 0px 0px 10px #999;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
